remote/schematics/ats-remote/ats-remote.kicad_pcb-bak
remote/schematics/ats-remote/ats-remote.sch-bak
remote/schematics/ats-remote/fp-info-cache
remote/schematics/ats-remote/fp-lib-table
remote/schematics/ats-remote/sym-lib-table
remote/schematics/ats-remote/_autosave-ats-remote.kicad_pcb
remote/schematics/ats-remote/gerber/**

/remote/firmware/nbproject/private/
/remote/firmware/nbproject/Makefile-local-default.mk
/remote/firmware/nbproject/Makefile-genesis.properties
/remote/firmware/build/
/remote/firmware/dist/